@tailwind base;
@tailwind components;
@tailwind utilities;

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  @apply border border-gray-400;
}

@font-face {
  font-family: "Comic Neue";
  src: url("/src/assets/Comic_Neue/ComicNeue-Regular.ttf") format("truetype");
}

.comic-neue {
  font-family: "Comic Neue", sans-serif;
}
